* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    margin: auto;
    padding: 20px;
    display: block;
    width: 100%;
    min-width: 400px;
}

.menu {
    background-color: burlywood;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    padding-bottom: auto;
}

header,
footer,
h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu__info p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;

}

.menu__info-flavor,
.menu__info-dessert {
    text-align: left;
    width: 78%;
}

.menu__info-price {
    text-align: right;
    width: 20%;
}