*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    list-style: none
    
}
 h1 {
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}
img {
    display: block;
    width: 100%;

}
a{
    text-decoration: none;
    color: beige;
}
header {
    position: sticky;
    top: 0;
   background-color: rgb(181, 130, 53);
   color: beige;
   text-transform: uppercase;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.main__content-tools{text-transform: lowercase;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.main__hero-baner{
    
text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 100px;
    background-color:rgb(71, 38, 10);

}

.product-container{
    padding: 30px 15px 60px;
   
}
.header__list{
display: flex;
justify-content: space-between;
} 

